


.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -21px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--light-pink);
}

.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -21px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 20px ;
    box-shadow: -1px -10px 0 0 var(--light-pink);
}



.navigator ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}

.navigator ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}

.navigator ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}

.navigator ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}

.navigator ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}